/***ОБЩИЕ***/
.page {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

/***HEADER***/

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  }

.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header__title {
  margin: 0;
  font-size: 102px;
  font-weight: bold;
  color: black;
  text-align: left;
  line-height: 96px;
  width: 730px;
  margin-left: 64px;
  display: flex;
  align-items: center;
  z-index: 3;
}

.header__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  text-align: justify;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  z-index: 1;
}

/***DESCRIPTION***/

.description {
  display: flex;    
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 100px auto 0px;
  box-sizing: border-box;  
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  margin-top: 0px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin-left: auto;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  color: black;  
}

.two-columns__paragraph {
  margin: 30px 0px 30px;
}

.two-columns__paragraph:first-child {
  margin-top: 0px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: bold;
}

/***DIGITS***/

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  font-size: 60px;
  color: black;
  font-weight: bold;
  line-height: 1.15;
  margin: 0px auto;
  text-align: center;
  width: 60%;
}

.section-subtitle {
  font-size: 24px;
  color: black;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  width: 60%;
  margin: 20px auto 0px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0px;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  text-align: left;
}

.table__text {
  margin: 0;
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  text-align: left;
}

/***FEYNMAN***/

.feynman {
  background-color: #f2f2f2;
  min-height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
  position: relative;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}

.feynman__title {
  color: black;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
  position: relative;
  z-index: 2;
  width: 648px;
  margin: 0px auto 70px; 
}

.feynman__subtitle {
  color: black;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: relative;
  z-index: 2;
  width: 400px;
  margin: 100px auto 70px;
  text-align: center;  
}

.feynman__link {
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  height: 51px;
  position: absolute;
  bottom: 50%;
  right: 48px;
}

/***KAUFMAN***/

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark {
  color: white;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0px auto;
  padding-top: 90px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  color: white;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.table_theme_dark {
  margin-top: 0px;
  position: relative;
  z-index: 2;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  color: white;
}

.table__text_theme_dark {
  color: white;
  font-size: 18px;
  line-height: 1.2;
  font-weight:normal;
  margin-bottom: 0px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: -210px;
}

/***FOOTER***/

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.footer__columns {
  width: 90%;
  display: flex;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content:space-between;
}
 
.logo_place_footer {  
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
  background-repeat: no-repeat;
  background-size: 183px 35px;
}

.footer__author {
  margin: 18px 0px 18px;
  color: white;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column_content {
  display: flex;
  width: auto;
  flex-grow: 1;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: auto; 
}

.footer__column-heading {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0px 0px; 
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 16px;
  padding: 0;
  list-style: none;
 }

.footer__column-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-align: right;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column; 
  align-items: baseline;
  width: auto;
  text-align: left;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}