/***ОБЩИЕ***/
.page {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}



/***HEADER***/

.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  }

.logo__place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.header__title {
  width: 730px;
  height: 192px;
  align-content: center;
  margin: auto 64px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
}

.header__title_text {
  font-size: 102px;
  font-weight: bold;
  color: black;
  text-align: left;
  margin: 0px;
  line-height: 0.85;
}

.header__subtitle {
  width: 388px;
  height: 75px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__subtitle_text {
  font-size: 18px;
  font-weight: normal;
  text-align: justify;
  margin: 0px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;

}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

.header__main-illustration_img {
  width: 765px;
  height: 608px;

}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
  z-index: 1;
}

/***DESCRIPTION***/

.description {
  display: flex;    
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 100px auto 0px;
  box-sizing: border-box;  
}

.two-columns__brief {
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin-left: auto;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  color: black;  
}

.two-columns__main-text-one {
  margin-top: 0px;
}

.two-columns__main-text-two span {
  font-weight: bold;
}

.two-columns__brief_text {
  font-weight: 18px;
  line-height: 1.2;
  color: #2f80ed;
  margin-top: 0px;
}

/***DIGITS***/

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  display: flex;
  width: 60%;
  margin: 0px auto;
}

.section-title__text {
  font-size: 60px;
  color: black;
  font-weight: bold;
  line-height: 1.15;
  margin: 0px auto;
}

.section-subtitle {
  display: flex;
  width: 60%;
  margin: 20px auto 0px;
}

.section-subtitle__text {
  font-size: 24px;
  color: black;
  font-weight: normal;
  line-height: 34px;
  margin: 0px auto;
}


.table {
  display: flex;
  width: 1100px;
  margin: 0px auto 100px;
}

.table-card {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 60px;
  margin-bottom: 0px;
}

.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.table__cell-1 {
  margin-bottom: 30px;
}

.table__cell-2 {
  margin-top: 30px;
}


.table__cell-title {
  margin: 0px 0px 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  text-align: left;
}

.table__cell-text {
  margin-top: 0px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  text-align: left;
}

.table__cell-text-quote {
  margin-bottom: 0px;
}

/***FEYNMAN***/

.feynman {
  background-color: #f2f2f2;
  height: 890px;
  padding-top: 100px;
  box-sizing: border-box;
  position: relative;
}

.feynman__background {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}


.feynman__title {
  position: relative;
  z-index: 2;
  width: 648px;
  height: 276px;
  margin: 0px auto 70px;
 
}

.feynman__title_text {
  color: black;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
  margin: 0px 0px;
}

.feynman__subtitle {
  position: relative;
  z-index: 2;
  height: 51px;
  width: 400px;
  margin: 100px auto 70px;
  text-align: center;
  
}

.feynmnan__subtitle_text {
  color: black;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 0px 0px;
}

.feynman__link {
  height: 51px;
  display: inline-block;
  position: absolute;
  bottom: 50%;
  right: 48px;
}

.feynman__link-text {
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
}



/***KAUFMAN***/

.kaufman {
  background-color: black;
  overflow: hidden;
  position: relative;
}

.section-title__theme_dark {
  padding-top: 90px;
  text-align: center;
}

.section-title__theme_dark_text {
  color: white;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0px auto;

}

.section-subtitle__theme_dark {
  margin-top: 20px;
}

.section-subtitle__theme_dark_text {
  color: white;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0px auto;
}

.table__theme_dark_card {
  margin-top: 0px;
 
}

.table__theme_dark {
  position: relative;
  z-index: 2;
  margin-bottom: 90px;
}


.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__cell_theme_dark_heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__cell_theme_dark_text {
  font-size: 18px;
  line-height: 1.2;
  font-weight:normal;
  margin-bottom: 0px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: -210px;
}


/***FOOTER***/

.footer {

  min-height: 350px;
  background-color: black;
  padding-top: 60px;
  box-sizing: border-box;
 }

 .footer__columns {
   display: flex;
   flex-basis: 711px;
   width: 90%;
   height: 250px;
   margin: 0px auto 40px; 
 }

 .column__content_copyright {
   display: flex;
   flex-direction: column;
   justify-content: space-between;   
   width: 50%;
 }
 
 .logo__place_footer {
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer__author {

  margin: 18px 0px 18px;
}

.footer__author_text {
  color: white;
  font-size: 18px;
  line-height: 25px;
  margin: 0px;
}

.footer__content {
  display: flex;
  width: 50%; 

}

.footer__column_content_info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__column_content {
  display: flex;
  flex-direction: column;


}

.footer__column-heading_text {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0px 0px;
}

.footer__column_links {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 16px;
  
}

.footer__column_link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}


.footer__column_content_social-links {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__colomn_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}